<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    <nav>
      <ul class="d-flex flex-row nav navbar-nav navbar-right">
        <li><%= link_to "About", '#'%></li>
        <li><%= link_to "Contact", '#'%></li>
        <li><%= link_to "News", '#'%></li>
      </ul>
    </nav>
  </div>
</footer>
