<% provide(:title,"Help")%>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title)%>| Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <div class="" style="text-align:center; margin:200px">
      <font size="12">Help</font>
      <p style="margin:20px">
        Get help on the Ruby on Rails Tutorial at the
        <a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>
      </p>
      <p style="margin:20px">
        To get help on this sample app, see the
        <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>book</a>
      </p>
    </div>
  </body>
</html>
